@media (max-width: 1199.9px) {
    .calc-form-result-item-col {
        padding: 30px 25px 30px 30px;
    }
    
    .calc-form-result-item-col__value {
        font-size: 14px;
        line-height: 15px;
    }

    .calc-form-result-item-col__title {
        font-size: 13px;
        line-height: 15px;
    }

    .arrow-anchor {
        right: -50px;
    }

    .calc-form-result-price__note  {
        max-width: 458px;
    }
}